
input[type='time'] {
  color: #2a2c2d;
  font-size: 14px;
  width: 180px;
}

input[type='time']::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

input[type='time']::-webkit-datetime-edit-text {
  padding: 19px 4px;
}

input[type='time']::-webkit-datetime-edit-hour-field,
input[type='time']::-webkit-datetime-edit-minute-field {
  border-radius: 15%;
  padding: 19px 13px;
}

input[type='time']::-webkit-inner-spin-button {
  display: none;
}

div span {
  font-weight: 500;
}